html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(rgb(0, 119, 255), rgb(153, 0, 255));
    background-size: cover;
    
}
h1
{
    position: relative;
    right: -136px;
}
#dd
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;   
}
form
{
 width: 428px;
 height: 600px;
 border: 2px solid red;
 margin: 0 auto;
 border-radius: 30px;
 background-color: cyan;
}
input   
{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
span
{
    color: red;
}   
textarea{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px ;
}
#gender1
{
   width: 4%; 
}
#gender2
{
    width: 4%;
}
#gender3
{
    width: 4%;
}
textarea
{
    width: 90%;
}
label
{
    position: relative;
    right: -10px    ;
}
#submit
{
    position: relative;
    right: -13px;
    border: 1px solid black;
    border-radius: 10px ;
    margin: 5px;    
}
/* #years
{
    position: relative;
    right: -11px; 
    border: 1px solid black;
    border-radius: 10px ;
}
#days
{
    position: relative;
    right: -11px;
    border: 1px solid black;
    border-radius: 10px ;
}   
#month
{
    position: relative;
    right: -11px;
    border: 1px solid black;
    border-radius: 10px ;
} */
#cancel
{
    position: relative;
    right: -121px;
    border-radius: 10px;
    padding: 5px;
    width: 125px;
}
#cancel:hover{
    background-color: red;
}
#submitfinal
{
    position: relative;
    right: -52px;
    border-radius: 10px;
    padding: 5px;
    width: 125px;
}
#submitfinal:hover{
    background-color: green;
}
/* .slider
{
    width: 800px;
    height: 400px;
    background: url(1.jpg);
} */